<header class='header-main{{if this.fixedHeader " header-fixed" null}}'>
  <div class='header-main-wrapper'>
    <nav class='header-nav'>
      <div class='header-nav-wrapper logo-gap'>
        <div
          class='header-nav-burguer'
          role='button'
          {{on 'click' this.sideMenu.clickMenu}}
        >
          <div class='burguer-line'></div>
          <div class='burguer-line'></div>
          <div class='burguer-line'></div>
        </div>
        <LinkTo @route='index' class='header-main-logo'>
          <Svgs::Consulta />
        </LinkTo>
      </div>
      <div class='header-nav-wrapper'>
        <a
          href='https://nfe.io/produtos/'
          rel='noopener noreferrer'
          target='_blank'
        >Procurando uma API?</a>
        <a
          href='https://nfe.io/consulta-de-dados/'
          rel='noopener noreferrer'
          target='_blank'
        >Consultas para sua empresa?</a>
      </div>
    </nav>
    <div class='header-main-content'>
      {{! Cnpj Type }}
      {{#if @cnpjType}}
        <h1>Consultar dados de CNPJ grátis online</h1>
        <div class='header-input-container{{if @errorState " alert"}}'>
          {{#if @errorState}}
            <Svgs::SvgAlert />
          {{/if}}
          <Input
            id='cnpj-search'
            class='header-input-bar'
            @type='text'
            @value={{@cnpj}}
            {{on 'input' @handleCnpj}}
            placeholder='Digite o número do CNPJ'
          />
          {{#if @loadingState}}

            <div class='loader search-loader'></div>

          {{else}}

            <button
              type='button'
              class='header-input-search'
              {{on 'click' @fetchCnpj}}
            >
              <Svgs::SearchIcon />
            </button>
          {{/if}}
        </div>
      {{/if}}

      {{! Cpf Type }}
      {{#if @cpfType}}
        <h1>Consultar número de CPF grátis online</h1>
        <div class='header-input-container{{if @errorState " alert"}}'>
          {{#if @errorState}}
            <Svgs::SvgAlert />
          {{/if}}
          <div class='header-input-container-wrapper'>
            <Input
              class='header-input-bar'
              @type='text'
              id='cpf-input'
              @value={{@cpf}}
              {{on 'input' @handleCpf}}
              placeholder='Digite o número do CPF'
            />
            <Input
              class='header-input-bar'
              id='date-input'
              @type='text'
              @value={{@date}}
              {{on 'input' @handleDate}}
              placeholder='Digite a data de nascimento'
            />
          </div>
          {{#if @loadingState}}

            <div class='loader search-loader'></div>

          {{else}}

            <button
              type='button'
              class='header-input-search'
              {{on 'click' @fetchCpf}}
            >
              <Svgs::SearchIcon />
            </button>

          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</header>