{{page-title 'Consulte dados de um CNPJ'}}

<Header::Header
  @cnpjType={{true}}
  @cnpj={{this.cnpj}}
  @handleCnpj={{this.handleCnpj}}
  @fetchCnpj={{this.fetchCnpj}}
  @errorState={{this.errorState}}
/>

<main class='main-content'>

  <DefaultContent::CnpjGratis />

</main>

<Footer::Footer />