{{page-title 'Consulte dados de um CNPJ'}}

<Header::Header
  @cnpjType={{true}}
  @cnpj={{this._cnpj}}
  @handleCnpj={{this.handleCnpj}}
  @queryCnpj={{this.queryCnpj}}
/>

{{#if this.receivedCnpj}}
  <h2>Recebeu Cnpj</h2>
{{else}}
  <DefaultContent::CnpjGratis />
{{/if}}

<Footer::Footer />