{{page-title 'Consulte dados de um CNPJ'}}

<Header::Header
  @cnpjType={{true}}
  @cnpj={{this.cnpj}}
  @handleCnpj={{this.handleCnpj}}
  @queryCnpj={{this.queryCnpj}}
/>

<main class='main-cnpj'>
  {{#if this.receivedCnpj}}

    <DataContainer::CnpjGratis::CnpjGratis
      @loadingState={{this.loadingFetch}}
      @cnpjData={{this.cnpjData}}
    />

  {{else}}

    <DefaultContent::CnpjGratis />

  {{/if}}
</main>

<Footer::Footer />